
    <div class="container">
      <div class="row decalage">
        <div id="fenestre" class="col-md-4 fenetre navbar-header">
            <h4 class="texte">Félicitation !</h4>
            <p class="texte">
            Si vous êtes sur cette page, c'est probablement que vous avez gravis les plus hauts
            échellons de la société, et nous vous en félicitons. Si ce n'est pas le cas,
            vous êtes sans doute un indigne fils de riche cherchant à tuer le temps de
            la manière la plus couteuse et absurde qui soit.<br>
            Une dernière possibilité laisse supposer que vous êtes un de ces innombrables cloportes
            prolétaires venu admirer ce qui fait l'apanage des dominants de ce monde :<br>
          </p>
          <p class="jet"><strong>le Jet Privé.</strong></p>
        </div>
        <div class="col-md-6 col-md-offset-2">
          <h1>Get your first Business Airplane</h1>
          <div class="decalage50">
            <form method="get" action="/menu">
              <button class="btn btn-info" type="submit">Start shopping</button>
              <button class="btn btn-info" type="submit">Command new Airplane</button>
            </form>
          </div>
        </div>
        </div>
      </div>
    </div>
